<article id="<%= dom_id(recipe) %>" class="card">
    <img loading="lazy" src="<%= recipe.image %>" class="card-img-top" alt="<%= recipe.title %>">
    <div class="card-body">
        <h5 class="card-title"><%= recipe.title %></h5>
        <p class="card-text"><strong>Category:</strong> <%= recipe.category.presence || "N/A" %></p>
        <p class="card-text"><strong>Author:</strong> <%= recipe.author.presence || "Anónimo" %></p>
        <p class="card-text"><strong>Ratings:</strong> <%= recipe.ratings.presence || "Sin calificar" %></p>
        <p class="card-text"><strong>Ingredients:</strong></p>
        <ul>
            <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
            <li class="ingredient-item">
                <span class="ingredient-name">
                    <%= recipe_ingredient.ingredient.name %>
                </span>
                <% if recipe_ingredient.quantity.present? %>
                <%= " - #{recipe_ingredient.quantity}" %>
                <% end %>
                <% if recipe_ingredient.unit.present? %>
                <%= " #{recipe_ingredient.unit}" %>
                <% end %>
            </li>
            <% end %>
        </ul>
    </div>
</article>