<!DOCTYPE html>
<html>

<head>
    <title><%= content_for(:title) || "Pennylane Recipes" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= stylesheet_link_tag "application", "recipes", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body>
    <!-- Encabezado -->
    <header>
        Pennylane Recipes
    </header>

    <!-- Spinner de carga -->
    <div id="loading-spinner" aria-hidden="true"></div>

    <!-- Contenido principal -->
    <main class="main-content">
        <%= yield %>
    </main>
</body>

</html>